.reveal section img {
  border: none;
}

@media print {
    .slide-background {
        background-color: #0088CD !important;
        -webkit-print-color-adjust: exact;
    }
}

body {
    background-color: #0088CD;
}

.reveal a, .reveal a:visited {
  color: #9dff84;
}


.reveal .logo-ppal {
  background: none;
  border: none;
  box-shadow: none;
}

.reveal .logo-ppal:hover {
  background: none;
  border: none;
}

.reveal section {
  font-size: 0.9em;
}
